.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  &__window {
    width: @view-image-width;
    height: @view-image-height;
    margin-bottom: 10px;
    position: relative;
    background-color: lighten(@blue-2, 7%);

    @media @mobile  {
      width: 100%;
    }
  }

  &__info {
    display: none;
    transition: 5s ease;
    margin: 5px;

    &:hover {
      background-color: red;
      transition: 5s ease;
    }
  }

  @media @mobile  {
    padding-top: 0;
  }
}
